@media (min-width: 1025px) {
.wrapper{
	width: 100%;
}
.w1100{
	width: 80%;
}
.w500{
	width: 50%;
}
.w300{
	width: 25%;
}
}
/*=====Nhỏ hơn 1025px====*/
@media (max-width:1025px ) {	
.sidebar1{
	display: none;
}
.w500{
	width: 70%;
}
.w300{
	width: 30%;
}
}
/*======Nhỏ hơn 910px=====*/
@media (max-width:910px ) {
.sidebar2{
	display: none;
}
.ads{
	display: none;
}
.w500{
	width: 100%;
}
}
@media screen and (max-width:900px) {
  ul.inline li:not(:first-child) {display: none;}
  ul.inline li.icon {
    float: right;
    display: inline-block !important;
  }
  ul.inline li.icon a{
  	font-size: 20px;
  }
}
@media (max-width: 600px) {
.sidebar{
	display: none;
}
}
@media (max-width:900px ) {
ul.inline.responsive {position: relative;}
ul.inline.responsive li.icon {
position: absolute;
right: 0;
top: 0;
}
ul.inline.responsive li:hover {
	background-color: #0ACB82;;
}
ul.inline.responsive li {
float: none;
display: inline;
}
ul.inline.responsive li a {
display: block;
text-align: left;
}
}